<%= form_with(model: message, class: 'form-inline') do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_area :chat, placeholder: 'Enter message..', class: 'form-control mb-2' %>
  </div>


 
    <%= form.hidden_field :chatroom_id, value: chatroom.id %>


  <div>
    <%= form.submit 'Send', class: 'btn btn-info'%>
  </div>
<% end %>


