<%= form_with(model: chatroom, class: 'form-inline') do |form| %>
  <% if chatroom.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chatroom.errors.count, "error") %> prohibited this chatroom from being saved:</h2>

      <ul>
        <% chatroom.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control mt-2' %>
  </div>

  <div class='submit'>
    <%= form.submit 'Create Chatroom', class: 'btn btn-info btn-block col-12 mt-2' %>
  </div>
<% end %>
